#wrapper(data-role='page', data-url='/game', class='')
	#content(data-role='content')
		#game
			#opponent
				div
					div(class='right')
						=opponent.username
					div.avatar
						img(src="/images/avatars/#{opponent.character.avatar}", width='65', height='65')
				.bars
					div(class='progressbar')
						div(class='bar')
							span
					div(class='progressbar')
						div(class='bar color4')
							span
			#chatroom
				div(class='tchat-container ui-input-text ui-body-c ui-corner-all ui-shadow-inset')
			#me 
				div.row
					div
						=user.username
					div.avatar
						img(src="/images/avatars/#{character.avatar}", width='65', height='65')
					.bars
						div(class='progressbar')
							div(class='bar')
								span
						div(class='progressbar')
							div(class='bar color4')
								span
					.spells
						- each spell, i in spells
							- if (i == 3)
								span.break
							div
								a(href='#', data-spell-id='#{spell._id}', data-mana-cost='#{spell.mana_cost}', class='spell')
									img(src='/images/spells/#{spell.thumbnail}.png')

include ../templates/game

script(src='/javascripts/game.js')
script 
	var player = !{JSON.stringify(character)};
	player.username = "#{user.username}";
	player.hitpoints = "#{character.hitpoints()}";
	player.manapoints = "#{character.manapoints()}";
	$(function() {
		new Game(player);
	});