#wrapper(data-role='page', data-url='/tchat', class='initialize game')
	include ../partials/header
						
	#content(data-role='content')
			
		h2 Chatroom

		!=messages()

		#chatroom
			.left
				div(class='tchat-container ui-input-text ui-body-c ui-corner-all ui-shadow-inset')
				input(type='text', name='send', placeholder='Text', id='tchat-input')
			.right
				div(class='tchat-side ui-input-text ui-body-c ui-corner-all ui-shadow-inset')

script(id='welcomeTemplate', type='text/x-jquery-tmpl')
	| <div>
	| 	<span class="time">${time}</span> 
	| 	<span class="srv-msg">Welcome</span> 
	| 	<span class="username">${username}</span> !
	| </div>

script(id='userJoinTemplate', type='text/x-jquery-tmpl')
	| <div>
	| 	<span class="time">${time}</span> 
	| 	<span class="username">${username}</span> 
	| 	<span class="srv-msg">entered the chat.</span>
	| </div>

script(id='messageTemplate', type='text/x-jquery-tmpl')
	|	<div>
	| 	<span class="time">${time}</span> 
	| 	<span class="username">${username}</span> :
	| 	<span>${message}</span>
	| </div>

script(id='disconnectTemplate', type='text/x-jquery-tmpl')
	| <div>
	| 	<span class="time">${time}</span>
	| 	<span class="username">${username}</span> 
	| 	<span class="srv-msg">disconnected.</span>
	| </div>

script(id='activeUsersTemplate', type='text/x-jquery-tmpl')
	| <div>
	|	{{if me}}
	| 	<span class="me">${username}</span>
	| {{else}}
	|		<a href="#" data-socket-id="${socketId}">${username}</a>
	|	{{/if}}
	|	</div>

script
	var username = "#{user.username}";

script(src='/javascripts/tchat.js')