#wrapper(data-role='page', data-url='/user/profile', class='')
	#header(data-role='header')
		a(href='/') BATTLE ARENA
			#nav
				a(href='/user/logout', class='nav-logout')
				a(href='/user/rankings', class='nav-ranking')
				a(href='/user/profile', class='nav-profile')//= character.skill_points > 0 ? character.skill_points : ''
				a(href='/game/search', class='nav-search')

	#content(data-role='content')
		h2= user.username

		#profile
			div.row

				div.avatar
					img(src='/images/avatars/default.jpeg')
					div
						div.level 19

				.stats
					p
						span= character.skill_points
						span skill points left.
					ul
						li 
							a(href='', title='Augmenter cette caractéristique', data-stat='strength', class='plus-stat confirm-popup')= character.skill_points > 0 ? '+' : ''
							span(data-stat='strength')= character.strength
							span(class='red') Strength
						li
							a(href='', title='Augmenter cette caractéristique', data-stat='agility', class='plus-stat confirm-popup')= character.skill_points > 0 ? '+' : ''
							span(data-stat='agility')= character.agility
							span(class='yellow') Agility
						li
							a(href='', title='Augmenter cette caractéristique', data-stat='stamina', class='plus-stat confirm-popup')= character.skill_points > 0 ? '+' : ''
							span(data-stat='stamina')= character.stamina
							span(class='brown') Stamina
						li
							a(href='', title='Augmenter cette caractéristique', data-stat='intellect', class='plus-stat confirm-popup')= character.skill_points > 0 ? '+' : ''
							span(data-stat='intellect')= character.intellect
							span(class='blue') Intellect
			
			div.row
				
				.bars
					div(class='life progress')
						div(class='bar', style='width: 100%')
							=character.hitpoints + (character.stamina * 5)
					div(class='mana progress')
						div(class='bar', style='width: 100%')
							=character.manapoints + (character.intellect * 5)
					div(class='xp progress')
						div(class='bar', style="width: #{character.experience}%")
							=character.experience

				.spells
					- each spell, i in spells
						- if (i == 3)
							span.break
						div
							a(href="/user/spells/#{spell._id}")
								img(src="/images/spells/#{spell.thumbnail}.png")


script

	var $skill_points = $('.stats p span')[0];
	var $life = $('.life div');
	var $mana = $('.mana div');
	var tips = {
		strength: '<b>Strength</b> increase the damages you deal.',
		agility: '<b>Agility</b> increase the chances that you begin a fight. Also.',
		stamina: '<b>Stamina</b> increase your total hitpoints.',
		intellect: '<b>Intellect</b> increase your total manapoints.',
	}

	$(document).delegate('.confirm-popup', 'click', function() {
		var $this = $(this);
		var stat = $(this).data('stat');
		var $stat = $('span[data-stat=' + stat + ']');

		$('<div>').simpledialog2({
			mode: 'button',
			headerText: 'Confirmation',
			headerClose: true,
			buttonPrompt: '<div style="padding:10px"><p>Improve your <b>' + stat + '</b> by one point ?</p><br><p><i>' + tips[stat] + '</i></p></div>',
			buttons : {
				'OK': {
					click: function () { 
						$.ajax({
							url: '/character/upstat/' + stat,
							type: 'POST'
						}).done(function(success) {
							if (success) {
								$($stat).html(parseInt($($stat).html()) + 1);
								$($skill_points).html($($skill_points).html() - 1);
								if (stat == 'stamina') {
									$($life).html(#{character.hitpoints} + ((parseInt($($stat).html()) * 5)));
								}
								if (stat == 'intellect') {
									$($mana).html(#{character.manapoints} + ((parseInt($($stat).html()) * 5)));
								}
							}
						});
					}
				},
				'Cancel': { 
					icon: "delete", 
					theme: "c",
					click: function() {}
				}
			}
		});
	});
