style
	.ui-li-has-alt .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-alt {
		padding-right: 0;
	}
	.ui-li-has-thumb .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-thumb {
		min-height: 0;
		padding-left: 70px;
	}

#wrapper(data-role='page', data-url='/user/spells', class='')
	include ../partials/header

	#content(data-role='content', class='spells-page')
		h2 Spells

		- each spell in all_spells
			- if (spell._id == current_id)
				div
					h3= spell.name
					img(src="/images/spells/#{spell.thumbnail}.png")
					p= spell.description

		ul(data-role='listview', data-inset='true', class='ui-listview ui-listview-inset ui-corner-all ui-shadow')
			- each spell in all_spells
				- if (spell._id != current_id)
					li(data-corners='false', data-shadow='false', data-iconshadow='true', data-wrapperels='div', data-icon='false', data-iconpos='right', data-theme='c', class='ui-btn ui-btn-icon-right ui-li ui-li-has-alt ui-li-has-thumb ui-corner-top ui-btn-up-c')
						div(class='ui-btn-inner ui-li ui-li-has-alt ui-corner-top')
							div(class='ui-btn-text')
								a(href='#', class='ui-link-inherit', title='Switch with this spell')
									img(src='/images/spells/#{spell.thumbnail}.png', class='ui-li-thumb ui-corner-tl', width='60', height='60')
									h3(class='ui-li-heading')= spell.name
									p(class='ui-li-desc')= spell.description
						